.col-md-4{
	text-align: left; 
	width=2em; 
	border: 0px solid #000;
	padding: 0px;
}

h2.sel2{
	background: #af8dc3;
	text-align: center; 
	color: #fff;
}

h2.sel1{
	background: #7fbf7b;
	text-align: center; 
	color: #fff;
}

button {
    cursor: pointer;
    font-size: 16px;
    margin: 2px;
}

button.sel1_btn {
       background: #af8dc3;
}
 
button.sel2_btn {
       background: #7fbf7b;
}

"#af8dc3","#7fbf7b"